Repository BuildForSDG/Team-270-PulaniFront: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

Install eslint-plugin-react and update eslint config
  .eslintrc.js
  package-lock.json
  package.json
Due: eslint --fix, prettier

Refactor <App/> to render <Admin/> (entry point)
  src/app.js
Due: eslint --fix, prettier

Refactor the index.(html|js|css) serve the react app
  src/index.css
  src/index.html
  src/index.js
Due: eslint --fix, prettier

Add a serviceWorker file (prepare for PWA setup)
  src/serviceWorker.js
Due: eslint --fix, prettier

Add Codacy badge
  README.md
Due: prettier

Install "@babel/preset-react" and "react-test-renderer"
  package-lock.json
  package.json
Due: prettier

Refactor babel and jest config, testingEnvironment -> revert to target "jsdom" (default)
  babel.config.js
  jest.config.js
Due: eslint --fix, prettier

Write "rendering" tests for <App />
  __tests__/app.test.js
Due: eslint --fix, prettier

Refactor to follow code standard
  src/index.css
Due: prettier

Downgrade "react-test-renderer" to 16.9.0, and install "stylelint" (standard config)
  package-lock.json
  package.json
Due: prettier

Declare .stylelintrc (ran "npx stylelint src/index.css") and update .lintstagedrc
  .lintstagedrc
  .stylelintrc
  src/index.css
Due: prettier

Upgrade to use `react-admin` (#5)
  .eslintrc.js
  .huskyrc
  .lintstagedrc
  .stylelintrc
  __tests__/app.test.js
  babel.config.js
  jest.config.js
  package-lock.json
  package.json
  src/app.js
  src/index.css
  src/index.html
  src/index.js
  src/serviceWorker.js
  yarn.lock
Due: eslint --fix, prettier

Include more specs for "browserslist" and declare "homepage"
  package.json
Due: prettier

created authProvider for authentication
  src/AuthProvider/index.js
Due: eslint --fix, prettier

imported authProvider
  src/app.js
Due: eslint --fix, prettier

Update the readme file to reflect the pulani pathway
  README.md
Due: prettier

Update the respective URLs within the package.json
  package.json
Due: prettier

Update file format and include team
  README.md
Due: prettier

Include link to the backend (REST API)
  README.md
Due: prettier

Install linter for *.md and include config
  package-lock.json
  package.json
Due: prettier

Run linter for *.md file for standard re-write
  README.md
Due: prettier

Refactor readme & package.json to maintain code standard
  README.md
  package.json
Due: prettier

define data access for the app
  src/dataProvider.js
Due: eslint --fix, prettier

define authentication methods for the app
  src/authProvider.js
Due: eslint --fix, prettier

define login component
  src/login/index.js
Due: eslint --fix, prettier

declare UI styles for the app
  src/index.css
  src/layout/AppBar.js
  src/layout/Layout.js
  src/layout/index.js
  src/stylesheets/index.css
  src/stylesheets/index.js
Due: eslint --fix, prettier

define translation standards for the app
  src/i18n/en.js
  src/i18n/fr.js
  src/i18n/index.js
Due: eslint --fix, prettier

Installed translation file for french
  package-lock.json
  package.json
Due: prettier

Refactor the <App/> with new props
  src/app.js
  src/index.js
Due: eslint --fix, prettier

demo commit
  src/app.js
  src/authProvider.js
  src/dataProvider.js
  src/i18n/en.js
  src/i18n/fr.js
  src/i18n/index.js
  src/index.css
  src/index.js
  src/layout/AppBar.js
  src/layout/Layout.js
  src/layout/index.js
  src/login.jpg.jpg
  src/login/index.js
  src/stylesheets/index.css
  src/stylesheets/index.js
Due: eslint --fix, prettier

Refactor login (works with email/pwd)
  __tests__/__snapshots__/app.test.js.snap
  __tests__/layout/AppBar.test.js
  __tests__/layout/Layout.test.js
  __tests__/layout/__snapshots__/AppBar.test.js.snap
  __tests__/layout/__snapshots__/Layout.test.js.snap
  __tests__/login/__snapshots__/index.test.js.snap
  __tests__/login/index.test.js
  __tests__/setupTests.js
  jest.config.js
  package-lock.json
  package.json
  src/app.js
  src/authProvider.js
  src/i18n/en.js
  src/login/LoginForm.js
  src/login/index.js
Due: eslint --fix, prettier

Include code quality badge, and delete defunct "authProvider"
  README.md
  src/AuthProvider/index.js
Due: eslint --fix, prettier

Change accepted login field: email -> phone
  src/authProvider.js
  src/i18n/en.js
  src/login/LoginForm.js
Due: eslint --fix, prettier

registration form mockup
  src/assets/mockups/register-form-v1.png
Due: none

product user data capture form mockup
  src/assets/mockups/product-form-v1.png
Due: none

Update tests to pass, based off PMD (static code analyzer)
  __tests__/app.test.js
  __tests__/layout/AppBar.test.js
  __tests__/layout/Layout.test.js
  __tests__/login/index.test.js
  src/dataProvider.js
Due: eslint --fix, prettier

login form mockup
  package.json
  src/assets/mockups/login-form-v1.png
Due: prettier

Include the goal-tracker/dashboard within project
  src/assets/mockups/goal-tracker.png
Due: none

Data Entry form for service providers
  src/Assets/Mockups/service-form-v1.png
Due: none

Update the mockup naming to follow versions
  src/assets/mockups/goal-tracker-v1.png
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,css,md})
