Repository BuildForSDG/Team-270-PulaniFront: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
      "eslint --fix",
      "prettier",
  ],
  "*.{json,md}": [
      "prettier",
  ],
  "*.css": [
  		"stylelint --fix",
  ],
}

babel config update
  babel.config.js
Due: eslint --fix, prettier

updated babel config
  babel.config.js
Due: eslint --fix, prettier

product form commit
  src/ProductForm.js
Due: eslint --fix, prettier

registration form commit
  src/app.js
  src/register.js
Due: eslint --fix, prettier

updated babel config file
  babel.config.js
Due: eslint --fix, prettier

renamed folder names
  src/assets/mockups/service-form-v1.png
Due: none

Install chartist & react-chartist packages (for graphs)
  package-lock.json
  package.json
Due: prettier

Define Card/Grid components & styling (to be used within dashboard)
  src/assets/jss/cardStyle.js
  src/assets/jss/material-dashboard-react.js
  src/layout/components/Card/Card.js
  src/layout/components/Card/CardAvatar.js
  src/layout/components/Card/CardBody.js
  src/layout/components/Card/CardFooter.js
  src/layout/components/Card/CardHeader.js
  src/layout/components/Card/CardIcon.js
  src/layout/components/Card/index.js
  src/layout/components/Grid/GridContainer.js
  src/layout/components/Grid/GridItem.js
  src/layout/components/Grid/index.js
  src/layout/components/index.js
Due: eslint --fix, prettier

Declare dashboard component & styling, and refactor other components for relative import/export
  src/app.js
  src/assets/jss/dashboardStyle.js
  src/assets/jss/index.js
  src/dashboard/index.js
  src/index.html
  src/index.js
  src/layout/index.js
  src/login/index.js
  src/stylesheets/index.js
  src/stylesheets/index.min.css
Due: eslint --fix, prettier, stylelint --fix

Declare the Charts.js, and remove the defunct CardAvatar.js
  src/layout/components/Card/CardAvatar.js
  src/layout/components/Card/index.js
  src/layout/components/Charts.js
Due: eslint --fix, prettier

Refactor the dashboard to include the relevant chart components
  src/assets/jss/dashboardStyle.js
  src/dashboard/index.js
  src/layout/components/index.js
  src/stylesheets/index.css
  src/stylesheets/index.min.css
Due: eslint --fix, prettier, stylelint --fix

Install "express" to serve static files, and run relevant configs
  Procfile
  package-lock.json
  package.json
  server.js
  src/index.js
  src/serviceWorker.js
Due: eslint --fix, prettier

Update the authProvider (get more user fields), and dashboard
  src/assets/jss/dashboardStyle.js
  src/authProvider.js
  src/dashboard/index.js
  src/stylesheets/index.css
  src/stylesheets/index.min.css
Due: eslint --fix, prettier, stylelint --fix

Write/Refactor snapshot tests
  __tests__/dashboard/__snapshots__/index.test.js.snap
  __tests__/dashboard/index.test.js
  __tests__/layout/AppBar.test.js
  __tests__/layout/Layout.test.js
  __tests__/layout/__snapshots__/AppBar.test.js.snap
  __tests__/layout/__snapshots__/Layout.test.js.snap
  __tests__/login/__snapshots__/index.test.js.snap
  __tests__/login/index.test.js
Due: eslint --fix, prettier

Update the express file, to reduce redirects
  server.js
Due: eslint --fix, prettier

Heroku failing to read backend; placed API within app
  src/app.js
  src/authProvider.js
Due: eslint --fix, prettier

Refactor index.css and Charts.js
  src/dashboard/index.js
  src/layout/components/Charts.js
  src/stylesheets/index.css
  src/stylesheets/index.min.css
Due: eslint --fix, prettier, stylelint --fix
